h1
{    
    text-align: center;
    letter-spacing: 30px;
    line-height: 160%;
}

h3
{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.main
{
    margin-top: 10vmin;
}
.left_main
{
    position: absolute;

    top: 450%;
    left: 5%;
}
.right_main
{
    position: absolute;
    top: 450%;
    right: 5%;
}
.left_main p
{
    font-size: 0.6vmin;
    color: #345982;
}
.right_main p
{
    font-size: 0.6vmin;
    color: #345982;
}

.icons
{
    position: absolute;
    top: 620%;
    right: 5.5%;
}
.icons_box
{
}
.title-logo
{
    width: 30px;
    height: 20px;
}
.allow span {
    position: absolute;
    top: 900%;
    right: 51%;
}

.allow span::after {
    content: '';
    width: 15px; /* 사이즈 */
    height: 15px; /* 사이즈 */
    border-top: 2px solid #121212; /* 선 두께 */
    border-right: 2px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(135deg); /* 각도 */
    position: absolute;
    top: 0px; /* 기본 0px 값으로 해주세요 */
    left:0px; /* 기본 0px 값으로 해주세요 */
}
.bottom_main
{
    padding-top: 300px;
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
}
table 
{
    width: 100%;
    margin-bottom: 130px;
}
th, td
{
    padding: 10px;
    font-weight: initial;
    font-size: 1.5vmin;
}
.bottom_main_box
{
    padding-bottom: 80px;
}
.bottom_main_box p
{
    margin-top: 10px;
}