{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='project_style.css') }}" >
{% endblock %}

{% block content %}
    {% for projects in infos.projects %}
    <div class="box">
        <div class="imgBx">
            <a href={{projects.github}}><img class="project_img" src={{projects.img}} onerror="this.src='https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg';"></a>
        </div>
        <div class="projectBx">
            <h3>{{projects.title}}</h3>
            <h6>{{projects.period}}</h6>
            <h6>{{projects.note}}</h6>
        </div>
    </div>
    {% endfor %}
{% endblock %}