{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project_style.css') }}" >
{% endblock %}

{% block content %}
    <h5>*직접 제작한 샘플입니다. copyright @nemod.leo</h5>
    {% for projects in infos.projects %}
    <div class="box">
        <div class="imgBx">
            <a href={{projects.github}}><img class="project_img" src={{ url_for('static', filename="images/{}".format(projects.img)) }} onerror="this.style.display='none'"></a>
        </div>
        <div class="projectBx">
            <h3>{{projects.title}}</h3>
            <h6>{{projects.period}}</h6>
            <h6>{{projects.note}}</h6>
            <div class="icon"><a href={{projects.github}}><img class="title-logo" src={{ url_for('static', filename="images/github.svg") }}></a></div>
        </div>
    </div>
    {% endfor %}
{% endblock %}